.sentinel--action-container {
	position: relative;
	border-top: 1px solid var(--background-modifier-border);
	padding: 1em 0;
}

.sentinel--action-container .setting-item {
	border-top: none;
	padding: 0.5em 0 1em 0;
}


.sentinel--action-container .setting-item:last-child {
	margin-left: auto;
}

.sentinel--action-container .setting-item-control,
.sentinel--action-container .setting-item-control input {
	width: 100%;
}

.sentinel--action-container .setting-item-name {
	font-size: .85em;
	margin-bottom: .25em;
}

.sentinel--action-container .suggestion-container {
	position: absolute;
	background: var(--background-primary);
	border: 1px solid var(--background-modifier-border);
	border-radius: 4px;
	z-index: 100;
	max-height: 200px;
	overflow-y: auto;
	width: 100%;
	left: 0;
	top: calc(100% - 2em);
	opacity: 0;
}

@media (min-width: 760px) {
	.sentinel--action-container {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: space-between;
	}

	.sentinel--action-container .setting-item {
		flex-flow: column;
		align-items: flex-start;
	}

	.sentinel--action-container .setting-item:nth-child(1) {
		width: calc(33% - 0.5em);
	}

	.sentinel--action-container .setting-item:nth-child(2) {
		width: calc(45% - 0.5em);
	}

	.sentinel--action-container .setting-item:nth-child(3) {
		width: calc(22% - 0.5em);
	}

	.sentinel--action-container .setting-item:nth-child(4),
	.sentinel--action-container .setting-item:nth-child(5) {
		width: calc(33% - 0.5em);
		margin-right: 0.75em;
	}

	.sentinel--action-container .setting-item:nth-child(5):has(button),
	.sentinel--action-container .setting-item:nth-child(6) {
		width: calc(14% - 0.5em);
		margin-right: 0;
	}
	.sentinel--action-container .setting-item:nth-child(6) .setting-item-control {
		width: fit-content;
	}

	/* Give it more width if it is the Command field */
	.sentinel--action-container .setting-item:nth-child(4):has(input[placeholder]) {
 		width: calc(79% - 0.75em);
	}
}
